.canvasjs-chart-credit {
    display: none !important;
}

.chart-wrapper {
    width: 100%;
    padding: 64px;
}

.chart-container {
    width: 100%;
}

.select-box {
    margin-bottom: 32px;
}

.chart-2 {
    margin-top: 64px;
}

.header-content-chart {
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
}
